form h2{
    text-align: center;
    margin: auto;
    border: darkred 2px dotted;
}
form label{
    display: inline-block;
    margin: 10px 5px;
}
form{
    border: red solid 2px;
    background-color: black;
    margin: auto;
    margin-top: 5vmax;
    width: 100vmin;
    color:red;
    padding: 20px 20px;
}