table{
	border-collapse: collapse;
}

th, td{
	border:1px solid black;
}

tr:nth-child(even){
	background-color: blue;
}

tbody tr{
	background-color: #63AABB;
}

thead{
	background-color: #2288B6
}

form{
	  margin: 0 auto;
  width: 500px;
  /* Encadré pour voir les limites du formulaire */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
 
label{
	display: inline-block;  
}
#name:focus{
	background-color: lightblue;
}

